<header class="row header">
    <section class="column grid_12">
        <div class="box">
            <h1><%= image_tag "logo.png" , :border=>"0", :align=>"left", :align=>"GoAbroadlabs.ph" %></h1>
            <nav>
                <ul class="fr">
                    <li><a class="nav" href="home">Home</a></li>
                    <li><a class="nav" href="registration">Registration</a></li>
                    <li><a class="nav" href="schedule">Schedule</a></li>
                    <li><a class="nav" href="workshops">Workshops</a></li>
                    <li><a class="nav" href="venue">Venue</a></li>                                              
                    <li><a class="nav" href="sponsors">Sponsors</a></li>
                </ul>
            </nav>
        </div>
    </section>
</header>
<article class="hd row" id="home">
    <section class="column grid_12">
        <div>
            <%= image_tag "webcamp.png", :border=>"0", :align=>"left" %>
            <h1>Are you ready for the future?</h1>
            <p>web design conference</p>
            <p>February 23-24, 2013</p>
            <p>GoAbroad complex, calanipawan road, tacloban city, leyte</p>
        </div>
    </section>
</article>
<article class="row" id="registration">
    <section class="column grid_12">
        <div class="box">
            <h2>This is a title of the titles<span>subtitles are subtracted and become one</span></h2>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p> 
            
        </div>
    </section>
</article>
<article class="row" id="schedule">
    <section class="column grid_12">
        <div class="box">
            <h2>This is a title of the titles<span>subtitles are subtracted and become one</span></h2>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>                     
        </div>
    </section>
</article>
<article class="row" id="workshops">
    <section class="column grid_12">
        <div class="box">
            <h2>This is a title of the titles<span>subtitles are subtracted and become one</span></h2>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>                     
        </div>
    </section>
</article>
<article class="row" id="venue">
    <section class="column grid_12">
        <div class="box">
            <h2>This is a title of the titles<span>subtitles are subtracted and become one</span></h2>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>                     
        </div>
    </section>
</article>
<article class="row" id="sponsors">
    <section class="column grid_12">
        <div class="box">
            <h2>This is a title of the titles<span>subtitles are subtracted and become one</span></h2>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>
            <p>Pellentesque dolor nunc, aliquet eget condimentum nec, aliquet eu ligula. Vivamus a velit eros, at tincidunt sapien. Nam vel dolor sed lacus ultrices tristique. In pellentesque convallis egestas. Nulla fermentum feugiat lectus, eu luctus lacus porta eget. Pellentesque non pharetra libero. Phasellus ac lectus non urna aliquet vulputate sed id tellus. Maecenas in ligula ante, at rhoncus ante. Proin ante nisl, lobortis ac euismod at, pulvinar at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In semper ornare ante, sed dapibus risus pulvinar sed. Nulla tortor diam, fringilla sed malesuada quis, molestie a ipsum. Aenean sem orci, facilisis in pretium ut, tempor eget ante. Maecenas lectus urna, scelerisque quis cursus ut, luctus sed tellus. Curabitur convallis mattis velit at feugiat.</p>                     
        </div>
    </section>
</article>

<script>
	(function(){
		$().ready(function(){
			$(".nav").on('click',function(){
				$('.selected').removeClass('selected');
				$(this).parent().addClass('selected');
				var offset = $('#'+$(this).attr('href')).offset();
			    $('html, body').animate({
					scrollTop: offset.top - 140
				}, 1000);
				return false;	
			});
		});
	});
</script>