<header class="row header">
    <section class="column grid_12">
        <div class="box">
            <h1><%= image_tag "logo.png" , :border=>"0", :align=>"left", :align=>"GoAbroadlabs.ph" %></h1>
            <nav>
                <ul class="fr">
                    <li class="selected"><a href="#">Home</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Venue</a></li>                                              
                    <li><a href="#">Sponsors</a></li>
                </ul>
            </nav>
        </div>
    </section>
</header>