body { background-color: #757575; }
img { float: left; }
img.fr { margin-left: 10px; }

/* header */
.header { position: relative; z-index: 9999; }
.header section { background-color: #22272b; background-image: none; padding-bottom: 0; position:fixed; }
.header .box { padding-bottom: 1em; }
.header li { float: left; text-transform: uppercase; font-size: 1.1em; margin: 0 0 1em 1.5em; }
.header li a { color: #ccc; opacity:0.9; }
.header .selected a { color: #00a8e2; }

/* ads */
.hd > section > div { background:#000 url('../../images/hdposter.jpg') no-repeat bottom center; padding: 4em 0 2em; text-align: center; color: #ddd; font-size: 1.8em; }
.hd img { float: none; display: block; margin:0 auto 1em; }
.hd h1 { color: #fff; font-size: 2em; text-shadow: 0 1px 5px #000; }
.hd h1+p { padding: 0.5em 1em; background-color: #74324a; display:inline-block; }
.hd p:last-child { display:inline-block; margin: 0 auto; width: 450px; line-height: 1; }

form.search { overflow: hidden; margin-bottom: 1em; }
.search input[type=text] { font-size: 1.4em; color: #777; padding: 10px; float: left; margin-right: 5px; }
.search input[type=submit] { font-size: 1.5em; height: 2.45em; padding: 0 20px; color: #fff; background-color: #e63a2e; background-image: none; border: 1px solid #e63a2e; }

/* heading */
article .stnd { padding-bottom: 10px; border-bottom: 1px solid #eee; position: relative; }
aside .stnd { padding-bottom: 10px; border-bottom: 1px solid #d5d5d5; position: relative; }
footer .stnd { padding-bottom: 10px; border-bottom: 1px solid #d5d5d5; position: relative; }
.sp { font-size: 1.1em; color: #777; margin-top: 7px; }

/* pagination */
.page { background-color: #f7f7f7; }
.page a { font-family: 'Istok Web', Verdana, Helvetica, sans-serif; font-size: 1.2em; padding: 5px 7px 2px; float:left; margin-right: 1em; color: #212121; }
.page a.selected { background-color: #e63a2e; color: #fff; }
.page a.more { color: #00a2ff; }

/* link */
a { text-decoration: none; }
a:hover { color: #00a2ff; }
.title a { color:#212121; }
.sclink, .hdlink { font-family: 'Istok Web', Verdana, Helvetica, sans-serif; font-size: 1em; }
.sclink { float: right; color: #212121; letter-spacing: -0.5px; }
.hdlink { float: right; color: #00a2ff; font-size: 1.3em; line-height: 2.1em; }
a .ico { background-position: -500px -559px; float: right; height: 20px; position: relative; right: 0; }

/* list */
ul { list-style: none; padding: 0; margin: 0 0 20px;}
ul li { margin-right: 10px; margin-bottom: 5px; }

/* default boxes */
.fl { float: left; }
.fr { float: right; }
.bl { display: block; }
.hd section { background: #fff url('../../images/divider_arrow_1.png') no-repeat bottom center; } 
section { padding-bottom: 2.5em; background: url('../../images/divider_arrow_2.png') no-repeat bottom center, url('../../images/divider_dot.png') repeat-x bottom center #fff; } 
.box { padding: 1em 5em 2em; overflow: hidden; }
article:last-child section { background-image: none; padding: 0; }

/* @footer */
.footer { background-color: #f9f9f9; }
.footer a { color: #777; }
.footer .row { margin-bottom: 0; padding-top: 2em; }
.footer section { background-color: transparent; margin-top: 2em; }
.footer nav { margin-bottom: 2em; font-size: 1.1em; }
.footer nav ul { overflow: hidden; margin-bottom: 0; height: 76px; }
.footer nav li { float: left; margin-left: 2em; line-height: 8em; }