body { background-color: #757575; }
img { float: left; }
img.fr { margin-left: 10px; }

/* header */
.header { position: relative; z-index: 9999; }
.header section { background-color: #000; background-image: none; padding-bottom: 0; position:fixed; }
.header .box { padding: 1em 5em; }
.header li { float: left; text-transform: uppercase; font-size: 1.1em; margin: 0 0 1em 1.5em; }
.header li a { color: #ccc; opacity:0.9; }
.header .selected a { color: #00a8e2; }
.header nav { margin-top: 1em; }
.header h1 { float: left; margin: 0;  }

h2 span:first-child, h3 span:first-child { color: #aaa; }
h2 span + span { color: #c8386d; }
h2 span.mntxt { color: #00a8e2;  }  
h2 span.subtxt, p span.subtxt { display: block; font-size: 0.7em; color: #00a8e2; }
h2 span.unitxt { color: #aaa; display: block; font-size: 0.7em; }
h2 span.unitxt > span { color: #c8386d; }

/* ads */
.hd > section > div { background:#000 url('../../images/hdposter.jpg') no-repeat bottom center; padding: 4em 0 2em; text-align: center; color: #ddd; font-size: 1.8em; }
.hd img { float: none; display: block; margin:0 auto 1em; }
.hd h1 { color: #fff; font-size: 2.5em; text-shadow: 0 1px 5px #000; }
.hd h1+p { padding: 0.5em 1em; background-color: #74324a; display:inline-block; font-family: 'Questrial', sans-serif; }
.hd p:last-child { display:inline-block; margin: 0 auto; width: 450px; line-height: 1; }

form.search { overflow: hidden; margin-bottom: 1em; }
.search input[type=text] { font-size: 1.4em; color: #777; padding: 10px; float: left; margin-right: 5px; }
.search input[type=submit] { font-size: 1.5em; height: 2.45em; padding: 0 20px; color: #fff; background-color: #e63a2e; background-image: none; border: 1px solid #e63a2e; }

/* link */
a { text-decoration: none; }
a:hover { color: #00a2ff; }

/* list */
ul { list-style: none; padding: 0; margin: 0 0 20px;}
ul li { margin-right: 10px; margin-bottom: 5px; }

.sched * { display: block; }
.sched .time { border-bottom: 1px solid #909090; font-weight: 400; padding-bottom: 5px; }
.sched li { margin-bottom: 1.5em; }
.sched span { float: left; font-weight: 400; }
.sched .title { color: #00a8e2; font-size: 1.2em; font-weight: 400; margin-left: 5.8em}
.sched p { margin: 0 0 0 7em; }

.session { float: left; margin: 1em 5em 1em 0; }
.session + .session { margin: 1em 0; }
.session input[type="radio"] + span > span { border-bottom: 1px dotted #000; font-style: italic; }
.session input[type='radio']:disabled + span { opacity: 0.5; } 
.session input[type='radio']:disabled + span > span { border: none; }
.session input[type='radio']:checked + span { color: #00A8E2; }
.session input[type='radio']:checked + span > span { color: #00A8E2; border-color: #00A8E2; }

.workshop li { float: left; margin: 0 5em 2em 0; display: table; height: 150px; }
.workshop li:nth-child(3n+3) { clear: both; }
.workshop div { display: table-cell; vertical-align: middle; height: 100%; }
.workshop h2 { margin-bottom: 0; color: #00A8E2; font-size: 1.5em; }
.workshop img { margin-right: 2em; }

/* default boxes */
.fl { float: left; }
.fr { float: right; }
.bl { display: block; }
.hd section { background: #fff url('../../images/divider_arrow_1.png') no-repeat bottom center; } 
section { padding-bottom: 2.5em; background: url('../../images/divider_arrow_2.png') no-repeat bottom center, url('../../images/divider_dot.png') repeat-x bottom center #fff; } 
.box { margin: auto; padding: 3em 5em; overflow: hidden; }
.box.grid_6 { text-align: center; }
.grid_6:first-child > .box, .grid_8:first-child > .box  { padding: 3em 1em 3em 5em; }
.grid_6:last-child > .box, .grid_4:last-child > .box  { padding: 3em 5em 3em 1em; }
article:last-child section, footer section { background-image: none; padding: 0; }
article.nodivider section { background:url('../../images/divider_dot.png') repeat-x bottom center #fff; padding-bottom: 2.5em; }

.reserved h2 { margin-bottom: 0.5em; text-align: center; }
.reserved p span { font-size: 3em; line-height: 37px; font-weight: 400; text-align: center; font-family: 'Questrial', sans-serif; margin-bottom: 0.5em; }
.reserved input[type="submit"] { display: block; margin: auto; text-align: center; background-color: #00A8E2; background-image: none; color: #fff; border: none; padding: 0.5em 1em; font-size: 1.5em }

/* @footer */
footer ul { float: right; }
footer ul li { float: left; }