<script>
	var API_KEY = "AIzaSyD2wTEWvdQz26pOxG9eCyrrSO9UdzqvNgg";
    var directionsService;
    var directionsDisplay;
	var map;

	var CENTER_COORDS;
	var GA_COORDS;
	var WILMARS_COORDS
    
    function initialize() {
		CENTER_COORDS = new google.maps.LatLng(11.21050, 124.99819);
		GA_COORDS = new google.maps.LatLng(11.20833, 124.99974);
		WILMARS_COORDS = new google.maps.LatLng(11.20848, 124.99917);
		
        drawMap();
        drawInfobubbles();
        loadPlacesAutoComplete();

		directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
    }

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.googleapis.com/maps/api/js?key="+API_KEY+"&libraries=places&sensor=false&callback=initialize";
        document.body.appendChild(script);
    }

	function drawMap() {
		var mapOptions = {
            zoom: 16,
            center: CENTER_COORDS,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
	}


	function drawInfobubbles() {
		var image = new google.maps.MarkerImage(
              'http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png', new google.maps.Size(71, 71),
              new google.maps.Point(0, 0), new google.maps.Point(17, 34),
              new google.maps.Size(35, 35));

		var marker = new google.maps.Marker({
			icon: image,
			map: map,
            position: GA_COORDS,
        });

        infoBubble = new InfoBubble({
            map: map,
            content: '<div>GoAbroad Philippines</div>',
            shadowStyle: 1,
            padding: '10px',
            backgroundColor: 'rgb(255,255,255)',
            borderRadius: 5,
            arrowSize: 10,
            borderWidth: 1,
            borderColor: '#2c2c2c',
            disableAutoPan: true,
            hideCloseButton: true,
            arrowPosition: 5,
            backgroundClassName: '',
			minWidth: 150,
            arrowStyle: 2
        });
        
        infoBubble.open(map, marker);
        
        marker = new google.maps.Marker({
                    position: WILMARS_COORDS,
                });
        
        infoBubble = new InfoBubble({
            map: map,
            content: '<div>Wilmar\'s Mini Mart</div>',
            shadowStyle: 1,
            padding: '10px',
            backgroundColor: 'rgb(255,255,255)',
            borderRadius: 5,
            arrowSize: 10,
            borderWidth: 1,
            borderColor: '#2c2c2c',
            disableAutoPan: true,
            hideCloseButton: true,
            arrowPosition: 95,
            backgroundClassName: '',
            arrowStyle: 1
        });
        
        infoBubble.open(map, marker);
	}
	
	function loadPlacesAutoComplete() {
		var input = document.getElementById('searchTextfield');
        var options = {
          types: ['establishment'],
          componentRestrictions: {country: 'ph'}
        };
        autocomplete = new google.maps.places.Autocomplete(input, options); 
        
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry)
                return;

            if (place.geometry.viewport)
                map.fitBounds(place.geometry.viewport);
            else {
				var latLongBounds = new google.maps.LatLngBounds();
				latLongBounds.extend(place.geometry.location);
				latLongBounds.extend(GA_COORDS);
				map.fitBounds(latLongBounds);
            }
            
            calcRoute(place.geometry.location);
        });
	}
	
    function calcRoute(start) {
        var start = start;
        var request = {
            origin:start,
            destination:GA_COORDS,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
    
    window.onload = loadScript;
</script>

<section class="column grid_12">
    <div id="map_canvas" style="width:100%; height:800px"></div>
    
    <input type="text" id="searchTextfield"/>
</section>