<% content_for :registration do %>
    <section class="column grid_12">
        <div class="row">
            <div class="column grid_8">
                <div class="box">
                    <h2>Registration<span class="subtxt"></span></h2>
                    <p>GAPLabs is the tech division of GoAbroad Philippines. An offshore site of <a href="http://wwww.goabroad.com" target="_blank">GoAbroad.com</a> and the world's largest directory for study abroad, volunteer abroad, jobs abroad, teach abroad and internship abroad. Being a pioneer and first of its kind in the region, GAPLabs wants to share its expertise to the young breed of aspiring web enthusiasts especially among students. To do this, we have organized a Regional Competition entitled "Webcamp 2013". The camp is a programming and design competition tailored fit for students to foster an avenue for a real tech experience. We have invited Universities all over the region to participate in this first-ever tech event on February 23-24, 2013 at the GoAbroad Philippines Complex, Calanipawan Rd., Tacloban City. </p>
                    <p>Register online and be part of this one-of-a kind regional event. Click on the "Registration" to take you to a 3-step registration process then you now become an official participant for the WebCamp Lab Event. See you there!</p>
                </div>
            </div>  
            <div class="column grid_4">
                <div class="reserved box">
                    <h2>Reserve your Seat</h2>
                    <p><span class="subtxt">We still have some seats for you</span></p>
                    <%= link_to "Registration", webcamp_register_path %>
                </div>
            </div>      
        </div>
        <div class="row">
            <div class="column grid_12">
                <% if flash[:fail] %>
                    <div class="registration-notice fail">
                        <%= flash[:fail] %>
                    </div>
                <% end %>
                <% if flash[:success]%>
                    <div class="registration-notice success">
                        <%= flash[:success] %>
                    </div>
                <% end %> 
                <% if !flash.empty? %>   
                    <% provide :script do %>
                        <%= javascript_include_tag "registration" %>
                    <% end %>
                <% end %>
            </div>   
        </div>    

    </section>
<% end %>